*{
	margin:0px;
	padding:0px;
	border-radius: 0px;
	box-sizing: border-box;
	font-size: 110%;
}

.frame{
	/* width: 360px;; */
	padding: 0 auto;
	
}
.calculator-title{
	font-size:30px;
	background: #fff;
	width: 360px;
	padding: 10px 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 2px;
	border: 2px solid black;
	color: #AB46D2;
}

html{overflow-x: hidden;}

.mainCalc{
	margin:0px;
	padding:0px;
	border-radius: 0px;
	box-sizing: border-box;
}

input[type='button']{
	width: 90px;
	background: #AB46D2;
	border: 1px solid #222;
	padding: 10px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type='button']:hover{
  background: #ccc;
}

input[type='button']:active{
	background:aqua ;
}


#root{
	text-align:center;
}

.screen-row input{
  width: 360px;
	background: #ddd;
	border: 0px;
	color: #222;
	padding: 10px;
	text-align: right;
}
